header {
   background-color: #bbbbbb;
   padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color:#C78C19;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    /* border-color: #000000; */
    /* border-width: 2px; */
    /* border-style: solid; */
    border: 2px solid #000000;
    border-radius: 10px;
    }

.produtos li:hover {
        border-color: #C78C19;
}

.produtos li:active {
    border-color: #21e907;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.produto-descricao {
    margin-top: 20px;
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0;
}

footer {
    text-align: center;
    background: url("imagens/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: rgb(255, 255, 255);
    font-size: 14px;
    margin-top: 20px;
}